<hr>
<div class="row">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <% @user.bookstack.each do |book| %>
            <div class="item">
                <div class="col-sm-4 ">
                    <%= link_to image_tag(book.image_url, class: "bookpic"), book_path(book) %>
                </div>
                <div class="col-sm-7 panelify">
                    <h4><%= link_to book.title, book_path(book) %></h4>
                    <hr>
                    <blockquote >
                        <!-- <p><%= book.description %></p> -->
                        <p><%= ActionView::Base.full_sanitizer.sanitize(book.description) %></p>
                        <footer><cite title="Source Title"><%= book.author %></cite></footer>
                    </blockquote>
                    <div class="clearfix"></div><hr>
                    <h5>User Distance <span class="pull-right"><%= @user.distance_to(book.location).round(1) %> miles</span></h5>
                    <div class="clearfix"></div><hr>
                    <div class="media row media well">
                      <div class="col-sm-3 media-left">
                        <%= link_to image_tag(book.owner.avrl, class: "media-object"), user_path(book.owner) %>
                      </div>
                      <div class="media-body col-sm-7">
                        <h4 class="media-heading"><%= link_to book.owner.name.upcase, user_path(book.owner) %></h4>
                        <ul>
                            <li><%= book.owner.email %></li>
                            <li>
                                
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="clearfix"></div> <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <%=link_to "Like", user_like_path(@user, book), class: "btn btn-success btn-block" %>
                        </div>
                        <div class="col-sm-6">
                            <%=link_to "Nope!", user_dislike_path(@user, book), class: "btn btn-danger btn-block" %>
                        </div>
                    </div>
                </div>
            </div>
        <% end -%>
    </div>
</div>
